@import url(https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:"Exo 2", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    color: #6633FF;
    border-bottom: 3px solid #6633FF;
}

nav a.active{
    color: #6633FF;
    border-bottom: 3px solid #6633FF;
}



section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #6633FF;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #6633FF;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #6633FF;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #6633FF;
}

.social-icons a:hover{
    color: #6633FF;
    transform: scale(1.3) translateY(-5px);
    background-color: white;
    box-shadow: 0 0 25px #6633FF;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #6633FF;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #6633FF;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 3rem;
}

.btn:hover{
    transform: scale(1.3);
    background-color: white;
    color: #6633FF;
    box-shadow: 0 0 20px #6633FF;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Grafický designer";
    color: #6633FF;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: 2px;
    height: 100%;
    border-left:3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #6633FF;
    }
}

@keyframes words{
    0%, 20%{
        content:"Web designer";
    }
    21%, 40%{
        content:"Správce E-Shopů";
    }
    41%, 60%{
        content: "IT specialista";
    } 
    61%, 80%{
        content: "Fotograf"
    }
    81%, 100%{
        content: "Grafický designer";
    }
}

@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2rem;
    }

    .home .home-content h1{
        font-size: 2.5rem;
    }

    .home-img img{
        width: 50vw;
        margin-top: 4rem;
    }
}



.bg-bars{
  position: fixed; inset: 0; z-index: -1; pointer-events: none;
  background: #000;
}
.bg-bars::before,
.bg-bars::after{
  content:""; position:absolute; top:0; bottom:0;
  width: 26vw; max-width: 520px;
  background: rgba(102, 51, 255, 0.10);
}

/* levý pilíř */
.bg-bars::before{
  left: -6vw;
  transform: skewX(-10deg);
}

/* pravý pilíř */
.bg-bars::after{
  right: -8vw;
  background: rgba(255,255,255,0.06);
  transform: skewX(8deg);
}




/* Základ hamburger ikonky */
.menu-toggle {
  display: none;
  font-size: 3rem;
  color: #6633FF;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-toggle:hover {
  transform: scale(1.2);
}

/* Mobilní verze */
@media (max-width: 995px) {
  .menu-toggle {
    display: block;
    z-index: 200;
    position: fixed;
    right: 20px;
  }

  nav {
    position: fixed;
    top: 0;
    padding-top: 10rem;
    right: -100%; /* skryté mimo obraz */
    width: 50%;
    height: 100%;
    background-color: #0b0b0f;;
    border-left: 3px solid #6633FF;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 3rem;
    transition: right 0.4s ease;
  }

  nav.active {
    right: 0; /* vysunutí */
  }

  nav a {
    font-size: 2rem;
    color: white;
    transition: color 0.3s ease;
  }

  nav a:hover,
  nav a.active {
    color: #6633FF;
    border-bottom: 2px solid #6633FF;
  }

}



section{
    margin-top: 50px;
}

header{
    position: relative;
}